html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font: 16px/1.5 sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
}

svg {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

circle {
  stroke: #000000;
}

.clean {
  fill: #00bb00;
}

.doping {
  fill: #ee0000;
}

text {
  font-size: 12px;
}

#legend rect {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

#tooltip {
  background-color: #333333;
  border-radius: 10px;
  border-top-left-radius: 0;
  color: #eeeeee;
  padding: 10px;
  position: absolute;
  width: 200px;
  opacity: 0;
}

#tooltip:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 20px solid transparent;
  border-right: 20px solid #333333;
  border-bottom: 20px solid transparent;
  left: -20px;
  top: 0px;
}

#tooltip p {
  font-size: 12px;
  margin: 0;
}

#tooltip p#name {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 4px;
}

footer {
  line-height: 1;
  text-align: center;
}

footer #credit {
  font-size: 0.8rem;
}
